      html{
        font-size:62.5%;
      }
      
      body {
        margin: 0;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #141414;
        background-blend-mode: multiply;
        position:relative;
        display:flex;
        flex-direction: column;
        }

      .nav__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: linear-gradient(180deg, black, rgb(20,20,20,0.2));
        position: fixed;
        top: 0;
        width: 100%;
        z-index:1;
      }
      
      .nav__list__item {
        float: left;
      }

      .nav__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        height:3rem;
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-size:medium;
      }
      
      .nav__link:hover{
        background-color: black;
      }

      .nav__logo__img {
        width: 10rem;
        height: 4rem;
      }

      main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image: url(./resources/bgimage2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      
      .login {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        width: 300px;
        height: 400px;
        padding: 60px 68px 40px;
      }
      
      .login__title {
        margin-bottom: 20px;
        font-size: 2.2rem;
        font-weight: 600;
        color: #fff;
      }
      
      .login__group {
        position: relative;
        z-index: 10;
        display: flex;
      }
      
      .login__group__label {
        position: absolute;
        z-index: 150;
        color: #b3b3b3;
        font-size: 0.9rem;
        top: 30px;
        left: 18px;
        transition: all 300ms ease-in;
      }
      
      .login__group__input {
        width: 100%;
        position: relative;
        z-index: 100;
        background: #333;
        margin-bottom: 20px;
        border-radius: 4px;
        border: none;
        opacity: 1;
        font-size: 1rem;
        color: #fff;
        line-height: 50px;
        padding: 12px 18px 0;
      }
      
      .login__group__input:focus + .login__group__label {
        top: 15px;
        font-size: 0.7rem;
      }
      
      .login__sign-in{
        text-decoration: none;
        margin: 24px 0 12px;
        padding: 16px;
        color: #fff;
        background: #e50914;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .login__sign-in a{
        padding: 16px;
        text-decoration:none;
        color: #fff;
      }

      @media screen and (max-width: 600px){
        .nav__logo__img {
          width: 7rem;
          height: 3rem;
        }

        main{
          background-image:none;
        }

        .bgimage{
          background-image: url(./resources/bgimage2.jpg);
          opacity:0.5;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          position: absolute;
          right: 0;
          bottom: 0;
          min-width: 100%;
          min-height: 100%;
        }

        .login {
          z-index:1;
          background: none;
        }
  
      }